.list {
  margin-top: 27rpx;
}

.label {
  font-size: 36rpx;
  font-weight: 400;
  color: #333333;
  padding-left: 27rpx;
  margin-bottom: 11rpx;

  span {
    color: #FC5756;
  }
}
.right {
  width: 660rpx;
  height: 90rpx;
  background: #F8F9FD;
  border-radius: 45rpx;
  line-height: 90rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30rpx;
  font-size: 30rpx;
  font-weight: 400;
  color: #999999;

  input {
    font-size: 34rpx;
    display: inline-block;
  }

  .send-code {
    width: 200rpx;
    height: 50rpx;
    background: #ECECEC;
    border-radius: 25rpx;
    font-size: 30rpx;
    font-weight: 400;
    color: #333333;
    line-height: 50rpx;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.right1 {
  width: 660rpx;
  height: 90rpx;
  background: #F8F9FD;
  border-radius: 45rpx;
  line-height: 90rpx;
  display: flex;
  align-items: center;
  //justify-content: space-between;
  padding-left: 30rpx;
  font-size: 30rpx;
  font-weight: 400;
  color: #999999;

  input {
    font-size: 34rpx;
    width: 100%;
    display: inline-block;
  }
}

image {
  display: block;
  width: 150rpx;
  height: 150rpx;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 8%;
}
.login-form {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20%;
}
.authorized-btn {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #0ab906;
  border: 1rpx solid #0ab906;
  color: #fff;
  border-radius: 6rpx;
  font-size: 26rpx;
  padding: 8rpx;
  margin-top: 80rpx;
}
.guest-btn {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #0ab906;
  color: #fff;
  border-radius: 6rpx;
  font-size: 26rpx;
  padding: 8rpx;
  margin-top: 30rpx;
}
.to-idx-btn {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #eeeeee;
  color: #333;
  border-radius: 6rpx;
  font-size: 26rpx;
  padding: 8rpx;
  margin-top: 30rpx;
}

button {
  &::after {
    border: 0 !important;
  }
}
.operate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-register {
  font-size: 28rpx;
  color: #00AAFF;
}
.error {
  .error-text {
    display: block;
    width: 100%;
    font-size: 28rpx;
    color: #e43130;
    text-align: left;
    margin-top: 10rpx;
    .warning-icon {
      display: inline-block;
      color: #fff;
      width: 26rpx;
      height: 26rpx;
      line-height: 26rpx;
      background: #e43130;
      border-radius: 50%;
      text-align: center;
      margin-right: 12rpx;
      font-size: 22rpx;
    }
  }
}
